@import "./normalize.css";

:root {
    --color-primary: #2584ff;
    --color-secondary: #00d9ff;
    --color-accent: #ff3300;
    --color-headings: #1b0760;
    --color-body: #918ca4;
    --color-body-darker: #5c5577;
    --color-border: #ccc;
    --border-radius: 30px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Typography */
::selection {
    background: var(--color-primary);
    color: #fff;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    line-height: 1.5;
    color: var(--color-body);
}

h1,
h2,
h3 {
    color: var(--color-headings);
    margin-bottom: 1rem;
    line-height: 1.1;
}

h1 {
    font-size: 7rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
    font-weight: 500;
}

p {
    margin-top: 0;
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 1.8rem;
    }

    h1 {
        font-size: 8rem;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 2.4rem;
    }
}

/* Links */
a {
    text-decoration: none;
}

.link--arrow {
    border: 0;
    color: var(--color-accent);
    font-size: 1.5rem;
    font-weight: bold;
}

.link--arrow::after {
    content: "→";
    margin-left: 4px;
    transition: margin 0.15s;
}

.link--arrow:hover::after {
    margin-left: 8px;
}

@media screen and (min-width: 1024px) {
    .link--arrow {
        font-size: 1.8rem;
    }
}

/* Icons */
.icon {
    width: 40px;
    height: 40px;
}

.icon--small {
    width: 30px;
    height: 30px;
}

.icon--primary {
    fill: var(--color-primary);
}

.icon--gold {
    fill: gold;
}

.icon--white {
    fill: #fff;
}
/* 
.icon--blue {
    fill:
} */

.icon--tick {
    fill: rgb(5, 166, 119);
    vertical-align: text-bottom;
}

.icon--close {
    fill: rgb(250, 82, 82);
    vertical-align: middle;
}

.icon-container {
    background: #f3f9fa;
    width: 64px;
    height: 64px;
    border-radius: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.icon-container--accent {
    background: var(--color-accent);
}

.icon-container--primary {
    background: var(--color-primary);
}

/* Buttons */
.btn {
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    padding: 2rem 4vw;
    margin: 1rem 0;
    border: 0;
    border-radius: 40px;
    cursor: pointer;
    white-space: nowrap;
    outline: 0;
}

.btn--primary {
    background: var(--color-primary);
    color: #fff;
}

.btn--primary:hover {
    background: #3a8ffd;
}

.btn--secondary {
    background: var(--color-secondary);
    color: #fff;
}

.btn--secondary:hover {
    background: #00c8eb;
}

.btn--accent {
    background: var(--color-accent);
    color: #fff;
}

.btn--accent:hover {
    background: #ec3000;
}

.btn--block {
    width: 100%;
    display: inline-block;
}

.btn--outline {
    background: #fff;
    color: var(--color-headings);
    border: 2px solid var(--color-headings);
}

.btn--stretched {
    padding-left: 4rem;
    padding-right: 4rem;
}

/* Lists */
.list {
    list-style: none;
    padding-left: 0;
}

.list--inline .list__item {
    display: inline-block;
    margin-right: 2rem;
}

.list--tick {
    list-style-image: url(../images/seleted.svg);
}

.list--close {
    text-indent: 3px;
}

/* Icons */
.icon--white {
    fill: #fff;
}

/* Collapsibles */
.collapsible__header {
    display: flex;
    justify-content: space-between;
}

.collapsible__heading {
    margin-top: 0;
    font-size: 3rem;
}

.collapsible__chevorn {
    transform: rotate(-90deg);
    transition: transform 0.3s;
}

.collapsible__content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s;
}

.collapsible--expanded .collapsible__content {
    max-height: 100vh;
    opacity: 1;
}

/* Grids */
.grid {
    display: grid;
}

@media screen and (min-width: 768px) {
    .grid--1x2 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1024px) {
    .grid--1x3 {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Starts */
.start--grid {
    display: grid;
    grid-template-rows: 36% 30% 34%;
    row-gap: 1rem;
    align-items: center;
    justify-content: center;
    align-self: center;
}

.start__tagline {
    align-self: center;
    justify-self: center;
    margin-bottom: 0;
}

.start__image {
    width: 100%;
    height: 90%;
}

.start__more {
    display: grid;
    grid-template-columns: 60% 40%;
    justify-content: space-between;
    align-items: center;
    align-self: start;
}

@media screen and (min-width: 768px) {
    .start--grid {
        row-gap: 1.8rem;
        justify-content: start;
    }

    .start__tagline {
        text-align: left;
    }

    .start__content .block__heading {
        text-align: left;
    }

    .btn--stretched {
        max-width: 60%;
    }
}

/* Blocks */
.block {
    --padding-vertical: 6rem;
    padding: var(--padding-vertical) 2rem;
}

.block__header {
    text-align: center;
    margin-bottom: 4rem;
}

.block__heading {
    margin-top: 0;
    font-size: 5.6rem;
}

.block__footer {
    text-align: right;
}

.block--skewed-right {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 90%);
    padding-bottom: calc(var(--padding-vertical) + 4rem);
}

.block--skewed-left {
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
    padding-bottom: calc(var(--padding-vertical) + 4rem);
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

/* What */
.what {
    display: grid;
    row-gap: 3rem;
    /* grid-template-rows: repeat(2, 1fr); */
    margin-bottom: 1rem;
}

.what__more {
    margin: 0 auto;
}

.collapsible--expanded .what__more {
    max-height: 0;
    opacity: 0;
}

@media screen and (min-width: 768px) {
    .what {
        column-gap: 2rem;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1024px) {
    .what {
        column-gap: 5rem;
        row-gap: 6rem;
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Cards */
.card {
    display: grid;
    grid-template-rows: 1fr 10%;
    border-radius: 7px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.card__img {
    width: 120%;
    align-self: strectch;
}

.card__content {
    text-align: center;
    color: #333;
    border-bottom: 1px solid red;
}

.card--primary {
    background: var(--color-primary);
    color: #fff;
}

.card--secondary {
    background: var(--color-secondary);
    color: #fff;
}

.card--accent {
    background: rgb(254, 224, 136);
    color: #fff;
}

/* Collapsibles */
.collapsible__header {
    display: flex;
    justify-content: space-between;
}

.collapsible__heading {
    margin-top: 0;
    font-size: 3rem;
}

.collapsible__chevron {
    transform: rotate(-90deg);
    transition: transform 0.3s;
}

.collapsible__content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s;
}

.collapsible--expanded .collapsible__chevron {
    transform: rotate(0);
}

.collapsible--expanded .collapsible__content {
    max-height: 100vh;
    opacity: 1;
}

/* Why */
.why .icon-container {
    background: rgb(229, 240, 255);
}

.why__header {
    margin-bottom: 0;
}

.why__content {
    display: grid;
    row-gap: 3rem;
    grid-template-rows: 10rem 1fr;
}

.why__button .btn--stretched {
    max-width: 100%;
    max-height: 6rem;
}

.why__button {
    justify-self: center;
    align-self: center;
}

.why__items {
    display: grid;
    justify-content: center;
    align-items: center;
}

.why__item {
    display: flex;
    flex-direction: column;
    /* justify-self: flex-start; */
    align-self: flex-start;
    margin-bottom: 5rem;
}

.why__item-title h3 {
    font-weight: 500;
    font-size: 2.5rem;
}

.why__item-content {
    font-size: 2rem;
}

@media screen and (min-width: 768px) {
    .why__items {
        grid-template-columns: 1fr 1fr;
        column-gap: 3rem;
    }

    .why__item {
        margin-bottom: 3rem;
    }
}

@media screen and (min-width: 1024px) {
    .why__items {
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 4rem;
    }
}

/* Prices */
.price__card {
    border-radius: 7px;
    box-shadow: 0 0 20px 10px #f3f3f3;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-width: 28rem;
    justify-content: space-between;
    margin: 6rem auto 10rem;
    max-width: 36rem;
}

.price__card-title {
    padding: 2rem 1rem 0.6rem 1.8rem;
}

.price__card h3 {
    margin: 0;
    color: #fff;
    font-size: 2.4rem;
}

.price__card span {
    font-size: 6rem;
}

.price__card-title .symbol {
    font-size: 3.8rem;
    margin-right: 1rem;
}

.price__card em {
    font-size: 2.4rem;
    margin-left: 1rem;
    letter-spacing: 2px;
}

.price__card p {
    letter-spacing: 2px;
}

.price__card-detail {
    padding: 1rem 1.8rem 0.8rem;
}

.price__card-detail li {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.list__item > img {
    width: 26px;
    height: 24px;
}

.list__item {
    margin-bottom: 0.8rem;
}

.price__card-button {
    justify-self: center;
    align-self: center;
    width: 80%;
}

.price__card-button .btn {
    padding: 1.8rem 5rem;
    margin-top: 0;
    margin-bottom: 2rem;
}

.price__card:hover {
    transform: scale(1.06);
}

.price--popular {
    transform: scale(1.04);
}

.price--popular:hover {
    transform: scale(1.12);
}

.price--new {
    transform: scale(1.09);
}

.price--new:hover {
    transform: scale(1.14);
}

.price--popular .price__card-title,
.price--new .price__card-title {
    position: relative;
}

.price--popular .price__card-title::before {
    content: url(../images/popular.svg);
    width: 40px;
    display: inline-block;
    position: absolute;
    top: -5px;
    right: 5%;
}

.price--new .price__card-title::before {
    content: url(../images/new.svg);
    width: 50px;
    display: inline-block;
    position: absolute;
    top: -5px;
    right: 5%;
}

@media screen and (min-width: 1024px) {
    .price__content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 6rem;
    }
}

/* Testimonials */
.testimonial {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    box-shadow: 0 0 20px 10px #f3f3f3;
}

.testimonial__image {
    position: relative;
}

.testimonial__image > img {
    width: 100%;
}

.testimonial__image > .icon-container {
    position: absolute;
    top: 3rem;
    right: -32px;
}

@media screen and (min-width: 768px) {
    .testimonial .quote,
    .testimonial .quote__author {
        font-size: 2.4rem;
    }

    .testimonial .quote {
        margin-left: 6rem;
    }
}

@media screen and (min-width: 950px) {
    .testimonial {
        flex-direction: row;
    }
}

/* Quotes */
.quote {
    text-indent: 2rem;
    font-size: 2rem;
    font-style: italic;
    color: var(--color-body-darker);
    line-height: 1.3;
}

.quote__text::before {
    content: open-quote;
}

.quote__text::after {
    content: close-quote;
}

.quote__author {
    font-size: 2rem;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 0;
    white-space: nowrap;
}

.quote__organization {
    color: var(--color-headings);
    opacity: 0.4;
    font-size: 1rem;
    font-style: normal;
}

.quote__line {
    position: relative;
    bottom: 10px;
    margin-right: 0;
}

@media screen and (min-width: 1024px) {
    .quote {
        font-size: 2rem;
    }

    .quote__author {
        font-size: 2.4rem;
    }

    .quote__organization {
        font-size: 1.6rem;
    }
}

/* Media */
.media {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 4rem;
}

.media__title {
    margin-top: 0;
}

.media__body {
    margin: 0 2rem;
}

.media__image {
    margin-top: 1rem;
}
