@import "./normalize.css";

:root {
    --color-primary: #2584ff;
    --color-secondary: #00d9ff;
    --color-accent: #ff3400;
    --color-headings: #1b0760;
    --color-body: #918ca4;
    --color-body-darker: #5c5577;
    --color-border: #ccc;
    --border-radius: 30px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Typography */
::selection {
    background: var(--color-primary);
    color: #fff;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    line-height: 1.5;
    color: var(--color-body);
}

h1,
h2,
h3 {
    color: var(--color-headings);
    margin-bottom: 1rem;
    line-height: 1.1;
}

h1 {
    font-size: 7rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
    font-weight: 500;
}

p {
    margin-top: 0;
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 1.8rem;
    }

    h1 {
        font-size: 8rem;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 2.4rem;
    }
}

/* Links */
a {
    text-decoration: none;
}

.link--arrow {
    border: 0;
    color: var(--color-accent);
    font-size: 1.5rem;
    font-weight: bold;
}

.link--arrow::after {
    content: "→";
    margin-left: 4px;
    transition: margin 0.15s;
}

.link--arrow:hover::after {
    margin-left: 8px;
}

@media screen and (min-width: 1024px) {
    .link--arrow {
        font-size: 1.8rem;
    }
}

/* Icons */
.icon {
    width: 40px;
    height: 40px;
}

.icon--small {
    width: 30px;
    height: 30px;
}

.icon--primary {
    fill: var(--color-primary);
}

.icon--gold {
    fill: gold;
}

.icon--white {
    fill: #fff;
}

.icon-container {
    background: #f3f9fa;
    width: 64px;
    height: 64px;
    border-radius: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.icon-container--primary {
    background: var(--color-primary);
}

/* Buttons */
.btn {
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    padding: 2rem 4vw;
    margin: 1rem 0;
    border: 0;
    border-radius: 40px;
    cursor: pointer;
    white-space: nowrap;
    outline: 0;
}

.btn--primary {
    background: var(--color-primary);
    color: #fff;
}

.btn--primary:hover {
    background: #3a8ffd;
}

.btn--secondary {
    background: var(--color-secondary);
    color: #fff;
}

.btn--secondary:hover {
    background: #00c8eb;
}

.btn--accent {
    background: var(--color-accent);
    color: #fff;
}

.btn--accent:hover {
    background: #ec3000;
}

.btn--block {
    width: 100%;
    display: inline-block;
}

.btn--outline {
    background: #fff;
    color: var(--color-headings);
    border: 2px solid var(--color-headings);
}

.btn--stretched {
    padding-left: 4rem;
    padding-right: 4rem;
}

/* Lists */
.list {
    list-style: none;
    padding-left: 0;
}

.list--inline .list__item {
    display: inline-block;
    margin-right: 2rem;
}

/* Icons */
.icon--white {
    fill: #fff;
}

/* Collapsibles */
.collapsible__header {
    display: flex;
    justify-content: space-between;
}

.collapsible__heading {
    margin-top: 0;
    font-size: 3rem;
}

.collapsible__chevorn {
    transform: rotate(-90deg);
    transition: transform 0.3s;
}

.collapsible__content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s;
}

.collapsible--expanded .collapsible__content {
    max-height: 100vh;
    opacity: 1;
}

/* Grids */
.grid {
    display: grid;
}

@media screen and (min-width: 768px) {
    .grid--1x2 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1024px) {
    .grid--1x3 {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Starts */
.start--grid {
    display: grid;
    grid-template-rows: 36% 30% 34%;
    row-gap: 1rem;
    align-items: center;
    justify-content: center;
    align-self: center;
}

.start__tagline {
    align-self: center;
    justify-self: center;
    margin-bottom: 0;
}

.start__image {
    width: 100%;
    height: 90%;
}

.start__more {
    display: grid;
    grid-template-columns: 60% 40%;
    justify-content: space-between;
    align-items: center;
    align-self: start;
}

@media screen and (min-width: 768px) {
    .start--grid {
        row-gap: 1.8rem;
        justify-content: start;
    }

    .start__tagline {
        text-align: left;
    }

    .start__content .block__heading {
        text-align: left;
    }

    .btn--stretched {
        max-width: 60%;
    }
}

/* Blocks */
.block {
    --padding-vertical: 6rem;
    padding: var(--padding-vertical) 2rem;
}

.block__header {
    text-align: center;
    margin-bottom: 4rem;
}

.block__heading {
    margin-top: 0;
    font-size: 5.6rem;
}

.block__footer {
    text-align: right;
}

.block--skewed-right {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 90%);
    padding-bottom: calc(var(--padding-vertical) + 4rem);
}

.block--skewed-left {
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
    padding-bottom: calc(var(--padding-vertical) + 4rem);
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

/* What */
.what {
    display: grid;
    row-gap: 3rem;
    /* grid-template-rows: repeat(2, 1fr); */
    margin-bottom: 1rem;
}

.what__more {
    margin: 0 auto;
}

.collapsible--expanded .what__more {
    max-height: 0;
    opacity: 0;
}

@media screen and (min-width: 768px) {
    .what {
        column-gap: 2rem;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1024px) {
    .what {
        column-gap: 5rem;
        row-gap: 6rem;
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Cards */
.card {
    display: grid;
    grid-template-rows: 1fr 10%;
    border-radius: 7px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.card__img {
    width: 120%;
    align-self: strectch;
}

.card__content {
    text-align: center;
    color: #333;
    border-bottom: 1px solid red;
}

/* Collapsibles */
.collapsible__header {
    display: flex;
    justify-content: space-between;
}

.collapsible__heading {
    margin-top: 0;
    font-size: 3rem;
}

.collapsible__chevron {
    transform: rotate(-90deg);
    transition: transform 0.3s;
}

.collapsible__content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s;
}

.collapsible--expanded .collapsible__chevron {
    transform: rotate(0);
}

.collapsible--expanded .collapsible__content {
    max-height: 100vh;
    opacity: 1;
}
