<div class="callout callout--primary">
    <div class="grid grid--1x2">
        <div class="callout__content">
            <h2 class="callout__heading">Ready to Get Started?</h2>
            <form action="">
                <input type="text" name="" id="name" placeholder="Your email" />
                <select>
                    <optgroup label="Real">
                        <option value="1">@qq.com</option>
                        <option value="2">@163.com</option>
                    </optgroup>
                    <optgroup label="virtual">
                        <option value="3">@xyz.com</option>
                        <option value="4">@abc.com</option>
                    </optgroup>
                </select>
            </form>
        </div>
        <a href="#" class="btn btn--secondary">Get Started</a>
    </div>
</div>
