<section class="block price">
    <header class="block__header">
        <h2>Become our member and get a better experience</h2>
    </header>
    <div class="container price__content">
        <div class="price__card">
            <div class="card--secondary price__card-title">
                <h3>Standard</h3>
                <span class="symbol">¥</span><span>198</span><em>/mouth</em></span>
                <p>Single Site</p>
                <!-- <hr /> -->
            </div>
            <div class="price__card-detail">
                <ul class="list">
                    <li class="list__item">
                        <svg class="icon icon--small icon--tick">
                            <use xlink:href="images/sprite.svg#tick"></use>
                        </svg>
                        Technical support
                    </li>
                    <li class="list__item">
                        <svg class="icon icon--small icon--tick">
                            <use xlink:href="images/sprite.svg#tick"></use>
                        </svg>
                        End products: 1
                    </li>
                    <li class="list__item">
                        <svg class="icon icon--small icon--tick">
                            <use xlink:href="images/sprite.svg#tick"></use>
                        </svg>
                        Use for a personal client
                    </li>
                    <li class="list__item">
                        <svg class="icon icon--small icon--tick">
                            <use xlink:href="images/sprite.svg#tick"></use>
                        </svg>
                        Use in a free end product
                    </li>
                    <li class="list__item list--close">
                        <img
                            class="icon icon--small icon--close"
                            src="./images/close.svg"
                            alt=""
                        />
                        Use in an end product that is “sold”
                    </li>
                </ul>
            </div>
            <div class="price__card-button">
                <button class="btn btn--outline btn--block">BUY NOW</button>
            </div>
        </div>
    <div class="price__card price--new">
        <div class="card--accent price__card-title">
            <h3>Extended</h3>
            <span class="symbol">¥</span><span>998</span><em>/mouth</em></span>
            <p>For paying users</p>
            <!-- <hr /> -->
        </div>
        <div class="price__card-detail">
            <ul class="list">
                <li class="list__item">
                    <svg class="icon icon--small icon--tick">
                        <use xlink:href="images/sprite.svg#tick"></use>
                    </svg>
                    Covers the multisite version
                </li>
                <li class="list__item">
                    <svg class="icon icon--small icon--tick">
                        <use xlink:href="images/sprite.svg#tick"></use>
                    </svg>
                    End products: Unlimited
                    
                </li>
                <li class="list__item">
                    <svg class="icon icon--small icon--tick">
                        <use xlink:href="images/sprite.svg#tick"></use>
                    </svg>
                    Speedy build tooling
                </li><li class="list__item">
                    <svg class="icon icon--small icon--tick">
                        <use xlink:href="images/sprite.svg#tick"></use>
                    </svg>
                    6 months free support
                </li>
                <li class="list__item">
                    <svg class="icon icon--small icon--tick">
                        <use xlink:href="images/sprite.svg#tick"></use>
                    </svg>
                    Use in an end product that is “sold”
                </li>
            </ul>
        </div>
        <div class="price__card-button">
            <button class="btn btn--outline btn--block">BUY NOW</button>
        </div>
    </div>
    <div class="price__card price--popular">
        <div class="card--primary price__card-title">
            <h3>Multisite</h3>
            <span class="symbol">¥</span><span>498</span><em>/mouth</em></span>
            <p>Unlimited Sites</p>
        </div>
        <div class="price__card-detail">
            <ul class="list">
                <li class="list__item">
                    <svg class="icon icon--small icon--tick">
                        <use xlink:href="images/sprite.svg#tick"></use>
                    </svg>
                    Covers the standard version
                </li>
                <li class="list__item">
                    <svg class="icon icon--small icon--tick">
                        <use xlink:href="images/sprite.svg#tick"></use>
                    </svg>
                    End products: Unlimited
                </li>
                <li class="list__item">
                    <svg class="icon icon--small icon--tick">
                        <use xlink:href="images/sprite.svg#tick"></use>
                    </svg>
                    Rich landing pages
                </li>
                <li class="list__item">
                    <svg class="icon icon--small icon--tick">
                        <use xlink:href="images/sprite.svg#tick"></use>
                    </svg>
                    100+ styled components
                </li>
                <li class="list__item">
                    <svg class="icon icon--small icon--tick">
                        <use xlink:href="images/sprite.svg#tick"></use>
                    </svg>
                    Use in an end product that is “sold”
                </li>
            </ul>
        </div>
        <div class="price__card-button">
            <button class="btn btn--outline btn--block">BUY NOW</button>
        </div>
    </div>
</section>