<section class="block">
    <header class="block__header">
        <h2>What can we do for you ?</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro, itaque iusto.
            Explicabo, ut sit.
        </p>
    </header>
    <div class="container">
        <div class="what">
            <div class="card">
                <div class="card__img"><img src="./images/HTML&CSS.PNG" alt="" /></div>
                <div class="card__content">HTML&CSS</div>
            </div>
            <div class="card">
                <div class="card__img"><img src="./images/JavaScript.PNG" alt="" /></div>
                <div class="card__content">JavaScript</div>
            </div>
            <div class="card">
                <div class="card__img"><img src="./images/Angular.PNG" alt="" /></div>
                <div class="card__content">Angular</div>
            </div>
            <div class="card">
                <div class="card__img"><img src="./images/React.PNG" alt="" /></div>
                <div class="card__content">React</div>
            </div>
            <div class="card">
                <div class="card__img"><img src="./images/React_Native.PNG" alt="" /></div>
                <div class="card__content">React Native</div>
            </div>
            <div class="card">
                <div class="card__img"><img src="./images/Redux.PNG" alt="" /></div>
                <div class="card__content">Redux</div>
            </div>
        </div>
        <div class="collapsible">
            <header class="collapsible__header">
                <div class="btn link--arrow what__more">查看更多</div>
            </header>
            <div class="collapsible__content">
                <div class="what">
                    <div class="card">
                        <div class="card__img">
                            <img src="./images/Java.PNG" alt="" />
                        </div>
                        <div class="card__content">Java</div>
                    </div>
                    <div class="card">
                        <div class="card__img">
                            <img src="./images/Python.PNG" alt="" />
                        </div>
                        <div class="card__content">Python</div>
                    </div>
                    <div class="card">
                        <div class="card__img">
                            <img src="./images/CSharp.PNG" alt="" />
                        </div>
                        <div class="card__content">C#</div>
                    </div>
                    <div class="card">
                        <div class="card__img">
                            <img src="./images/NodeJS.PNG" alt="" />
                        </div>
                        <div class="card__content">NodeJS</div>
                    </div>
                    <div class="card">
                        <div class="card__img">
                            <img src="./images/SQL.PNG" alt="" />
                        </div>
                        <div class="card__content">SQL</div>
                    </div>
                    <div class="card">
                        <div class="card__img">
                            <img src="./images/Git.PNG" alt="" />
                        </div>
                        <div class="card__content">Git</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
