<section class="block why">
    <header class="block__header why__header">
        <h2>What choose us ?</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro, itaque iusto.
            Explicabo, ut sit.
        </p>
    </header>
    <div class="container why__content">
        <div class="why__button">
            <button class="btn btn--secondary btn--stretched">View all</button>
        </div>
        <div class="why__items">
            <div class="why__item">
                <div class="why__item-icon">
                    <span class="icon-container">
                        <svg class="icon icon--primary">
                            <use xlink:href="images/sprite.svg#collection"></use>
                        </svg>
                    </span>
                </div>
                <div class="why__item-title"><h3>Mobile First</h3></div>
                <div class="why__item-content">
                    <p class="why__item-content">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus iure
                        dicta dolorum, autem praesentium libero quia. Atque facilis quaerat modi!
                    </p>
                </div>
            </div>
            <div class="why__item">
                <div class="why__item-icon">
                    <span class="icon-container">
                        <svg class="icon icon--primary">
                            <use xlink:href="images/sprite.svg#collection"></use>
                        </svg>
                    </span>
                </div>
                <div class="why__item-title"><h3>Mobile First</h3></div>
                <div class="why__item-content">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus iure
                        dicta dolorum, autem praesentium libero quia. Atque facilis quaerat modi!
                    </p>
                </div>
            </div>
            <div class="why__item">
                <div class="why__item-icon">
                    <span class="icon-container">
                        <svg class="icon icon--primary">
                            <use xlink:href="images/sprite.svg#collection"></use>
                        </svg>
                    </span>
                </div>
                <div class="why__item-title"><h3>Mobile First</h3></div>
                <div class="why__item-content">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus iure
                        dicta dolorum, autem praesentium libero quia. Atque facilis quaerat modi!
                    </p>
                </div>
            </div>
            <div class="why__item">
                <div class="why__item-icon">
                    <span class="icon-container">
                        <svg class="icon icon--primary">
                            <use xlink:href="images/sprite.svg#collection"></use>
                        </svg>
                    </span>
                </div>
                <div class="why__item-title"><h3>Mobile First</h3></div>
                <div class="why__item-content">
                    <p class="why__item-content">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus iure
                        dicta dolorum, autem praesentium libero quia. Atque facilis quaerat modi!
                    </p>
                </div>
            </div>
            <div class="why__item">
                <div class="why__item-icon">
                    <span class="icon-container">
                        <svg class="icon icon--primary">
                            <use xlink:href="images/sprite.svg#collection"></use>
                        </svg>
                    </span>
                </div>
                <div class="why__item-title"><h3>Mobile First</h3></div>
                <div class="why__item-content">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus iure
                        dicta dolorum, autem praesentium libero quia. Atque facilis quaerat modi!
                    </p>
                </div>
            </div>
            <div class="why__item">
                <div class="why__item-icon">
                    <span class="icon-container">
                        <svg class="icon icon--primary">
                            <use xlink:href="images/sprite.svg#collection"></use>
                        </svg>
                    </span>
                </div>
                <div class="why__item-title"><h3>Mobile First</h3></div>
                <div class="why__item-content">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus iure
                        dicta dolorum, autem praesentium libero quia. Atque facilis quaerat modi!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
