<section class="block why">
    <header class="block__header why__header">
        <h2>What choose us ?</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro, itaque iusto.
            Explicabo, ut sit.
        </p>
    </header>
    <div class="container why__content">
        <div class="why__button">
            <button class="btn btn--secondary btn--stretched">View all</button>
        </div>
        <div class="why__items">
            <div class="why__item">
                <div class="why__item-icon">
                    <span class="icon-container">
                        <svg class="icon icon--primary">
                            <use xlink:href="images/sprite.svg#mobile"></use>
                        </svg>
                    </span>
                </div>
                <div class="why__item-title"><h3>Mobile First</h3></div>
                <div class="why__item-content">
                    <p class="why__item-content">
                        Mobile-first flexbox grid to build layouts of all shapes and sizes.
                    </p>
                </div>
            </div>
            <div class="why__item">
                <div class="why__item-icon">
                    <span class="icon-container">
                        <svg class="icon icon--primary">
                            <use xlink:href="images/sprite.svg#assessed-badge"></use>
                        </svg>
                    </span>
                </div>
                <div class="why__item-title"><h3>Accessible</h3></div>
                <div class="why__item-content">
                    <p>Built with accessibility in mind and following best practices.</p>
                </div>
            </div>
            <div class="why__item">
                <div class="why__item-icon">
                    <span class="icon-container">
                        <svg class="icon icon--primary">
                            <use xlink:href="images/sprite.svg#service"></use>
                        </svg>
                    </span>
                </div>
                <div class="why__item-title"><h3>Trustworthy support</h3></div>
                <div class="why__item-content">
                    <p>We value our work and happy to provide our customers with first-class.</p>
                </div>
            </div>
            <div class="why__item">
                <div class="why__item-icon">
                    <span class="icon-container">
                        <svg class="icon icon--primary">
                            <use xlink:href="images/sprite.svg#customization"></use>
                        </svg>
                    </span>
                </div>
                <div class="why__item-title"><h3>Customization</h3></div>
                <div class="why__item-content">
                    <p class="why__item-content">
                        You have a fully customizable page and it's provided by us
                    </p>
                </div>
            </div>
            <div class="why__item">
                <div class="why__item-icon">
                    <span class="icon-container">
                        <svg class="icon icon--primary">
                            <use xlink:href="images/sprite.svg#component"></use>
                        </svg>
                    </span>
                </div>
                <div class="why__item-title"><h3>Component Based</h3></div>
                <div class="why__item-content">
                    <p>We have a large library of components for you to choose</p>
                </div>
            </div>
            <div class="why__item">
                <div class="why__item-icon">
                    <span class="icon-container">
                        <svg class="icon icon--primary">
                            <use xlink:href="images/sprite.svg#code_1"></use>
                        </svg>
                    </span>
                </div>
                <div class="why__item-title"><h3>Valid Code</h3></div>
                <div class="why__item-content">
                    <p>HTML pages are all valid by W3C Standards</p>
                </div>
            </div>
        </div>
    </div>
</section>
